<!-- BreadCrumb Child to parent -->
<app-breadcrum [breadCrumData]="breadCrumData"></app-breadcrum>
<!-- dashboard Count four Cards  -->
<div class="Card-wrapper">
    <div class="card-one">

    </div>
    <div class="card-two">

    </div>
    <div class="card-three">

    </div>
    <div class="card-four">

    </div>
</div>

<!-- Graph sections -->

<div class="graph-wrapper">
    <div class="domain-wise">
        <span>Domain-wise Questions</span>
        <div id="chart">
        </div>
    </div>
    <div class="mec-domain">
        <span>Detailed view of Mechanical Domain</span>

    </div>

</div>

<div class="graph-next-container">
    <div class="projected-question">
        <span>Projected Question Bank Size</span>
    </div>
    <div class="blooms">
        <span>Blooms Classification</span>
    </div>
</div>