@import '../../themes/theme.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $primary-bgdashboard;

  .heightDiv {
    flex-grow: 1;
    height: 85%;
    // overflow: auto;
  }
}

.mainCon {
  display: flex;
  height: 100%;
}

.heightDiv::-webkit-scrollbar-track {
  visibility: hidden;
}

.heightDiv::-webkit-scrollbar {
  visibility: hidden;
  width: 0px;
}

.heightDiv::-webkit-scrollbar-thumb {
  visibility: hidden;
}