<div class="item-reference" *ngIf="!newFile">
    <em class="icon-popup-warning"></em>
    <span class="item-text">
        {{dialogTitle}}</span>
</div>

<div class="uploded-moc" *ngIf="!newFile">
    <div class="common-upload-btn" for="fileInput" *ngIf="!fileName">
        <button (click)="file.click()" class="common-btn" formControlName="showSizeError">
            <em class="icon-popup-cloud-upload"></em>
            Upload the Items list</button>

        <input #file style="display:none" [matTooltip]="url ? '' : 'No File Chosen'" matTooltipPostion="after"
            class="common-btn" id="fileInput" type='file' name="profile" accept=".zip, text/zip"
            (change)="onSelectFile($event)" Upload the Items list />

    </div>
    <div class="common-upload-btn" *ngIf="fileName">
        <div class="list">
            <span class="urlSpan" matTooltipPosition="after" matTooltip="{{fileName}} ({{fileSize}} kb)">{{fileName}}
                ({{fileSize}} kb)</span>
            <span><img (click)="delete()" src="/assets/images/upload-delete.svg" alt=""></span>
        </div>
    </div>
    <div class="text" *ngIf="showSizeError['default']">
        <span>*</span> (file extension allowed .zip)
    </div>

    <div *ngIf="showSizeError['size']" class="textlimit"> <span>*</span> Maximum file size limit is 2 MB</div>
    <div *ngIf="showSizeError['image']" class="error">Accept only .zip files</div>
    <div *ngIf="validFile" class="error">Please upload file with correct headers</div>
    <div *ngIf="dateFormatExist" class="error">Data should not be in the date format</div>

    <div class="upload-btn" mat-dialog-actions align="center">
        <button class="cancel" [ngStyle]="{'opacity': fileName ? '0.5' :'1.0'}" [disabled]="fileName ? false : true"
            (click)="delete()" mat-button>Cancel</button>
        <button [ngStyle]="{'opacity': fileName ? '1.0':'0.5'}" [disabled]="fileName ? false :true" [disabled]="true"
            class="upload" mat-button (click)="uploadDoc()">Upload
        </button>
    </div>
</div>

<!-- Main Upload Document Formet End-->
<div class="greentic-popup" *ngIf="newFile">
    <em class="icon-popup-greenTic"></em>
    <div class="batch-process">
        <span>{{newFile}}</span>
    </div>
    <div class="batch">
        <span>
            Batch Job Id - {{batchId}}
        </span>
    </div>
    <div class="upload-btnItems" mat-dialog-actions align="center">
        <button class="cancelItessms" (click)="returnUpload()" mat-button>Upload Items</button>
    </div>
</div>