<ng-container *ngIf="loading">
    <!-- <i class="loading"> -->
    <div class="loading-container flex-content-center">
        <div class="lds-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- </i> -->
</ng-container>

<router-outlet></router-outlet>