@import "../../../themes/theme.scss";
mat-toolbar {
  position: relative;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  height: 48px;
  background: $primary-login;
  background: transparent
    linear-gradient(90deg, #08558c 0%, #16bef0 51%, #4eba62 100%) 0% 0%
    no-repeat padding-box;
  margin-bottom: 0;
  display: flex;
  z-index: 9;
}
.logo-content {
  display: flex;
}

.dash-logo {
  height: inherit;
  background: #ffffff 0% 0% no-repeat padding-box;
  width: 131px;
  height: 48px;
}
.beforeloginimgLT {
  position: absolute;
  width: 73px;
  left: 30px;
  top: 8px;
}
.img-wrapper {
  position: relative;
  top: 0px;
}
.head-title {
  top: 15px;
  left: 30px;
  font-size: 18px;
  position: relative;
  width: 184px;
  color: white;
  height: 21px;
}

.rightlog {
  color: #ffffff;
  font-size: 16px;
  display: flex;
  align-items: center;
  font-weight: 400;
  position: relative;
  right: 75px;
}
.center-code {
  border: 1px solid white;
  height: 30px;
  position: relative;
  right: 55px;
  top: 9px;
}
.logout {
  height: 15px;
  right: 33px;
  position: relative;
  top: 16px;
}

label {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  padding-right: 10px;
}

.border-select {
  display: flex;
  align-items: center;
  position: relative;
  right: 11%;
  select {
    font-size: 0.9rem;
    padding: 2px 5px;
    width: 252px;
    height: 35px;
    border: 0px;
    outline: 0px;
    color: gray;
  }
}
// Pop ip Logout
.popupHead {
  text-align: center !important;
  position: relative;
  top: 35px;
  font-size: 18px;
}

.action {
  display: flex !important;
  justify-content: center !important;
  position: relative;
  top: 30px;
  margin: 0px 77px;
  .confirm {
    background: #09568c;
    color: #fff;
    margin-left: 10%;
  }
}
.con-btn {
  font-size: 14px;
  cursor: pointer;
  background: white;
  color: #08558c;
  border: 1px solid #08558c;
  font-weight: 500;
  width: 83px;
  height: 40px;
  border-radius: 4px;
}
.confirm {
  background-color: #08558c;
  border: 1px solid #08558c;
  font-size: 14px;
  width: 83px;
  height: 40px;
  cursor: pointer;
  border-radius: 4px;
}
.example-spacer {
  flex: 1 1 auto;
}
.popup-image {
  display: flex;
  justify-content: center !important;
  position: relative;
  top: 20px;
}
.sure-message {
  text-align: center !important;
  position: relative;
  top: 40px;
  font-weight: 500;
  font-size: 18px;
}
