<mat-toolbar class="headerShadow">
    <div class="header-cont">
        <!-- Logo Heading -->
        <div class="logo-content">
            <div class="dash-logo">
                <span class="img-wrapper">
                    <img alt="main-login-logo" class="beforeloginimgLT" src="assets/images/Group 21190.svg">
                </span>
            </div>
            <div class="test-head">
                <h1>Test Authoring System</h1>
            </div>
        </div>

        <!-- right logout -->
        <div class="right-logout">
            <div class="select-cont">
                <label for="select" id="org-name">Organisation Name: </label>
                <!-- <select name="pets">
                    <option value="Edutech"> L&T EduTech</option>
                    <option value="Admin">Admin</option>
                    <option value="Candidate">Candidate</option>
                </select> -->
                <mat-form-field appearance="fill">
                    <mat-label>Choose an option</mat-label>
                    <mat-select>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2 (disabled)</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <span class="rightlog">
                {{username ? '' + username : ''}}
            </span>
            <div class="center-code">
            </div>
            <span matTooltip="Logout" class="logout">
                <img src="assets/images/a083ce591dbe7b95af372eb82032e1c7.svg" alt="logout-img">
            </span>
        </div>
    </div>
</mat-toolbar>