$fontPath: "/assets/fonts";
// Login page
$left-login-bg: #ddf1ff;
$left-head: #08558c;
//login right
$right-login-bg: #ffffff;
$sign-head: #000000;

// mat-form-field
$primary-lable: #5c6873;
$primary-field: #d71116;

// forgot password
$forgot: #d71116;

// login-btn
$primary-login: #00b0ed;
$primary-text: #fff;
$primary-linear: #27bbee;
$primary-linear-sec: #88ba2f;

// background
$primary-back-white: #ffffff;
$primary-lite-white: #fff;
$primary-common-blue: #004684;
$primary-common-green: #49ae31;
$primary-common-red: #c02222;
$primary-common-black: #000000;
$primary-common-gray: #707070;
$primary-common-yellow: #ffce00;
$primary-batch-head: #08558c;
$primary-dull-gray: #70707075;
$primary-sidenav-bg: #f1f2f1;
$primary-dull-gry: rgb(173 173 173 / 34%);
$primaryBorder-dashed: #707070b0;
$primaryDashed-bg: #fafafa;
$primaryUpload-border: rgb(112 112 112 / 13%);
$primary-darkBlue: #205081;
$primary-filename : #EAEAEA;
$primary-bgdashboard : #DFE2E3;
// AG grid
$primaryaggrid-head: #ededed;
$primary-tao-back : #16BEF0;

// Dashboard Page Color Codes 
$dashboard-green : #4EBA62;
$dashboard-skyblue : #16BEF0;
$dashboard-rose : #FF6384;
$dashboard-lite-Ylw : #FFCD56;
// $primary-batch-head: #08558c;
// $primary-common-yellow: #ffce00;