@import "../../../../themes/theme.scss";


.viewJob-head {
  display: flex;
  justify-content: space-between;
  padding: 0px 12px;
  margin-top: -5px;

  h1 {
    color: $primary-darkBlue;
    font-size: 20px;
    font-weight: 500;
  }

  .GoJobList {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 6px;
  }

  mat-icon {
    font-size: 22px;
    margin-right: 5px;
  }

  a {
    font-size: 13px;
    font-weight: 500;
    margin-right: 3px;
    cursor: pointer;
  }
}

.main-section {
  .outlerback-section {
    background-color: $primary-back-white;
    width: auto;
    height: 536px;
    margin: 0px 15px;
    overflow: hidden;
  }

  .batch-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
  }

  .job-id {
    .jobid-sec {
      color: $primary-batch-head;
      font-weight: 500;
    }
  }

  .upload-span {
    border-left: 2px solid;
    color: $primary-dull-gray;
    height: 40px;
  }

  .p-l-10 {
    padding-left: 0px;
    margin-left: 50%;
  }

  .uniq-process {
    position: relative;
    right: 10px;
  }

  .line {
    border-left: 2px solid;
    height: 40px;
  }

  .jobs-item {
    font-weight: 500;
    font-size: 15px;
    color: $primary-common-blue;
  }

  .jobs-proc {
    font-weight: 500;
    font-size: 15px;
    color: $primary-common-green;
  }

  .error-red {
    font-weight: 500;
    font-size: 15px;
    color: $primary-common-red;
  }

  span {
    font-size: 12px;
    color: $primary-common-black;
  }
}


// ag grid css start
.aggrid-wrapper {
  width: 100%;
  padding: 8px;
  height: 100%;
}

.ag-theme-alpine {
  --ag-header-height: 30px;
  --ag-header-foreground-color: $primary-common-black;
  --ag-header-background-color: #edededba;
  font-size: 13px;
  font-weight: 500;
}