@import "../../../../themes/theme.scss";

.upload-btnOne {
  display: flex;
  justify-content: flex-end;
  margin: 11px 6px;

  .upload-xcel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 159px;
    height: 30px;
    background-color: $primary-batch-head;
    border: 0;
    border-radius: 4px;
    color: $primary-back-white;
    cursor: pointer;

    span {
      color: $primary-back-white;
      font-size: 13px;
    }
  }
}

.upload-btntao {
  display: flex;
  justify-content: flex-end;
  margin: 11px 6px;

  .upload-xcel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 159px;
    height: 30px;
    background-color: $primary-tao-back;
    border: 0;
    border-radius: 4px;
    color: $primary-back-white;
    cursor: pointer;

    .toa-icon {
      font-size: 20px;
      position: relative;
      top: 2px;
    }

    span {
      color: $primary-back-white;
      font-size: 13px;
    }
  }
}

// upload excel popup
::ng-deep mat-dialog-container {
  border-radius: 0px !important;
  padding: 0 !important;
}

.upload-title {
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
  padding-left: 20px;
  padding-right: 20px;

  .sure-message {
    font-size: 18px;
    font-weight: 500;
    position: relative;
    bottom: 5px;
  }

  .popup-image {
    height: 12px;
    width: 12px;
    cursor: pointer;
  }
}

.item-reference em {
  width: 12px;
  height: 12px;
  margin-left: 15px;
  color: $primary-batch-head;
}

.item-text {
  font-weight: 500;
  font-size: 13px;
  position: relative;
  bottom: 1px;
  left: 4px;
}


// center Line For popup message
.center-line {
  border: 1px solid;
  position: relative;
  bottom: 15px;
  color: $primary-dull-gry;
}

.viewJob-head {
  display: flex;
  justify-content: space-between;
  padding: 0px 12px;
  margin-top: -10px;

  h1 {
    color: $primary-darkBlue;
    font-size: 20px;
    font-weight: 500;
  }

  .GoJobList {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 6px;
  }

  mat-icon {
    font-size: 22px;
    margin-right: 5px;
    cursor: pointer;
  }

  span {
    font-size: 14px;
    font-weight: 500;
    margin-right: 3px;
    cursor: pointer;
  }
}

.main-section {
  .outlerback-section {
    background-color: $primary-back-white;
    width: auto;
    height: 536px;
    margin: 0px 15px;
    overflow: hidden;
  }

  .batch-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
  }

  .job-id {
    .jobid-sec {
      color: $primary-batch-head;
      font-weight: 500;

      .batchJobId {
        color: $primary-batch-head;
        font-size: 16px;
        display: flex;
        align-items: center;
      }
    }
  }

  .upload-span {
    border-left: 2px solid;
    color: $primary-dull-gray;
    height: 40px;
    padding-left: 10px;
  }

  .p-l-10 {
    margin-left: 45%;
    padding: 0px 0px;
  }

  .uniq-process {
    position: relative;
    right: 10px;
  }

  .line {
    border-left: 2px solid;
    height: 40px;
  }

  .jobs-item {
    font-weight: 500;
    font-size: 15px;
    color: $primary-common-blue;
  }

  .jobs-proc {
    font-weight: 500;
    font-size: 15px;
    color: $primary-common-green;
  }

  .error-red {
    font-weight: 500;
    font-size: 15px;
    color: $primary-common-red;
  }

  span {
    font-size: 12px;
    color: $primary-common-black;
  }
}

// .disablebtn {
//   cursor: not-allowed !important
// }


// ag grid css start
.aggrid-wrapper {
  width: 100%;
  padding: 0px 8px;
  height: 100%;
}

.ag-theme-alpine {
  --ag-header-height: 30px;
  --ag-header-foreground-color: $primary-common-black;
  --ag-header-background-color: #ededed;
  font-size: 13px;
  font-weight: 500;
}

// Tao Sync Scss
.popup-image-tao {
  display: flex;
  justify-content: center !important;
  position: relative;
  top: 20px;
  margin-top: 24px;

  .tao {
    font-size: 55px;
  }
}

.sure-message-tao {
  text-align: center !important;
  position: relative;
  top: 40px;
  font-weight: 500;
  font-size: 18px;
}

.popupHead {
  text-align: center !important;
  position: relative;
  top: 35px;
  font-size: 17px;

}

.action {
  display: flex !important;
  justify-content: center !important;
  position: relative;
  top: 30px;
  margin: 0px 77px;

  .confirm {
    background: $primary-batch-head;
    color: $primary-back-white;
    margin-left: 10%;
  }
}

.con-btn {
  font-size: 14px;
  cursor: pointer;
  background: $primary-back-white;
  color: $primary-batch-head;
  border: 1px solid $primary-batch-head;
  font-weight: 500;
  width: 83px;
  height: 40px;
  border-radius: 4px;
}

.confirm {
  background-color: $primary-batch-head;
  border: 1px solid $primary-batch-head;
  font-size: 14px;
  width: 83px;
  height: 40px;
  cursor: pointer;
  border-radius: 4px;
}

.sync-status {
  display: flex;
  min-width: 15%;
  justify-content: space-between;

  h6 {
    font-size: 13px;
    font-weight: 500;
  }

  span {
    font-size: 11px;
    font-weight: 500;
  }
}

.progressBar {
  width: 225px;
  border-radius: 4px;
  width: 233px;
  height: 7px;
  position: relative;
  bottom: 10px;
}

.toaTime {
  span {
    font-weight: 500;
    font-size: 13px;
    position: fixed;
  }
}

.sync-complered {
  span {
    background-color: $dashboard-green;
    width: 105px;
    height: 18px;
    padding: 4px 23px;
    border-radius: 9px;
    color: $primary-back-white;
  }

}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #4EBA62;
}