<!-- breadCrumb child to parent Calling -->
<app-breadcrum [breadCrumData]="breadCrumData"></app-breadcrum>
<!-- View Job heading -->
<div class="viewJob-head">
    <h1>View Job</h1>
    <div class="GoJobList ">
        <mat-icon>arrow_back</mat-icon>
        <a (click)="GobackJoblist()">Go Back</a>
    </div>
</div>

<!-- SG grid Table -->
<div class="main-section">
    <div class="outlerback-section">
        <div class="batch-sec" *ngFor="let batch of batchList">
            <div class="job-id">
                <div class="jobid-sec">
                    {{batch.JopId}}
                </div>
            </div>

            <div class="p-l-10">
                <span>Total Items Count</span>
                <div class="jobs-item">
                    {{batch.TotalItemsCount}}
                </div>
            </div>
            <div class="upload-span">
                <div class="p-l-10 uniq-process">
                    <span>Processed</span>
                    <div class="jobs-proc">
                        {{batch.Processed}}
                    </div>
                </div>

            </div>
            <div class="upload-span">
                <div class="p-l-10">
                    <span>Errors</span>
                    <div class="error-red">
                        {{batch.Errors}}
                    </div>
                </div>

            </div>

            <!-- Reupload Items file formet -->
            <app-commonupload></app-commonupload>
        </div>

        <!-- Ag grid Table section -->
        <div class="aggrid-wrapper">
            <ag-grid-angular
                style="width: 100%; height: calc(100vh - 180px) !important; margin:auto !important;padding: 10px;"
                class="ag-theme-alpine" [columnDefs]="columnDefs" [rowData]="rowData" [paginationPageSize]="500"
                [defaultColDef]="defaultColDef" (gridReady)="onGridReady($event)" [sideBar]="sideBar"
                [pagination]="true" [suppressRowClickSelection]="true" [cacheBlockSize]="500">
            </ag-grid-angular>
        </div>
    </div>