<!-- breadCrumb child to parent Calling -->
<app-breadcrum [breadCrumData]="breadCrumData"></app-breadcrum>
<!-- View Job heading -->
<div class="viewJob-head">
    <h1>View Job</h1>
    <div class="GoJobList" (click)="GobackJoblist()">
        <mat-icon>arrow_back</mat-icon>
        <span>Go Back</span>
    </div>
</div>

<!-- AG grid Table -->
<div class="main-section">
    <div class="outlerback-section">
        <div class="batch-sec">
            <div class="job-id">
                <div class="jobid-sec">
                    <span class="batchJobId">
                        Batch Job Id -
                        {{batchInfo?.batchId}}
                    </span>
                </div>
            </div>
            <div class="p-l-10">
                <span>Total Items Count</span>
                <div class="jobs-item">
                    {{batchInfo?.totalCount}}
                </div>
            </div>
            <div class="upload-span">
                <div class="p-l-10 uniq-process">
                    <span>Processed</span>
                    <div class="jobs-proc">
                        {{batchInfo?.processedCount}}
                    </div>
                </div>

            </div>
            <div class="upload-span">
                <div class="p-l-10">
                    <span>Errors</span>
                    <div class="error-red">
                        {{batchInfo?.errorCount}}
                    </div>
                </div>
            </div>
            <!-- Tao Button -->
            <div class="upload-btntao" *ngIf="batchInfo?.batchStatus && completed === 'pending' , " (click)="openTao()">
                <button class="upload-xcel" mat-raised-button color="primary">
                    <mat-icon class="toa-icon">autorenew</mat-icon>
                    <span>
                        Sync Items to Tao
                    </span>
                </button>
            </div>
            <!-- Tao Sync Status progress bar -->
            <div *ngIf="!timesync && completed === 'inprogress'">
                <div class="sync-status">
                    <h6>Sync Status</h6>
                    <span>{{progress}}%</span>
                </div>
                <div>
                    <mat-progress-bar mode="determinate" [value]="progress" class="progressBar">
                    </mat-progress-bar>
                </div>
                <div class="toaTime">
                    <span>Updated on {{createdAt | date:'dd MMM YYYY | hh:mm:ss a'}} </span>
                </div>
            </div>

            <!-- Sync Completed Button -->
            <div class="sync-complered" *ngIf="completed === 'completed' ">
                <span>Sync {{completed}}</span>
                <div>
                    <h6>Updated on {{createdAt | date:'dd MMM YYYY | hh:mm:ss a'}}</h6>
                </div>
            </div>
            <!-- Reupload Items file formet -->
            <div class="upload-btnOne" (click)="showUpload()" *ngIf="batchInfo?.errorCount">
                <button class="upload-xcel" mat-raised-button color="primary">
                    <img src="assets/images/uploadButton-arrow.svg" /> <span>Reupload Items</span>
                </button>
            </div>
            <ng-template #matDialog mat-dialog-container>
                <div class="upload-title">
                    <h1 mat-dialog-title class="sure-message">Upload Items</h1>
                    <span class="popup-image" (click)="closePop()">
                        <em class="icon-Popup-close"></em>
                    </span>
                </div>
                <div class="center-line">

                </div>

                <div class="item-reference">
                </div>
                <app-commonupload [commontitle]="callFrom"></app-commonupload>
            </ng-template>
        </div>
        <!-- Tao popup table messages -->
        <ng-template #matDialogtao>
            <span class="popup-image-tao">
                <em class="icon-popup-warning-ylw tao"></em>
            </span>
            <h1 mat-dialog-title class="sure-message-tao">Are you Sure?</h1>
            <h1 class="popupHead" mat-dialog-title>You want to Sync Items in the Batch Job Id - {{batchId}}
                to Tao</h1>
            <div class="action" mat-dialog-actions>
                <button class="con-btn" mat-button [mat-dialog-close]="true">CANCEL</button>
                <button class="confirm" mat-button (click)="movetotav()">YES </button>
            </div>
        </ng-template>
        <!-- Ag grid Table section -->
        <div class="aggrid-wrapper">
            <ag-grid-angular style="width: 100%; height: calc(100vh - 225px) !important;" class="ag-theme-alpine"
                [columnDefs]="columnDefs" [rowData]="newList" [defaultColDef]="defaultColDef" [paginationPageSize]="20"
                (gridReady)="onGridReady($event)" [sideBar]="sideBar" [pagination]="true"
                [suppressRowClickSelection]="true" [cacheBlockSize]="500">
            </ag-grid-angular>
        </div>
    </div>