<div class="main-wrapper-login">
    <div class="sub-wrapper">
        <div class="container-reg200">
            <div class="left">
                <div class="main-logo">
                    <img alt="main-login-logo" class="beforeloginimgLT" src="assets/images/Group 21190.svg">
                </div>
                <div class="login-head">
                    <span>Welcome to L&T Edutech Content <br> Authoring System Hub</span>
                </div>
                <div class="main-display-image">
                    <img alt="main-display-logo" class="beforeloginimg" src="assets/images/banner-graphics.png">
                </div>
            </div>
            <div class="right">
                <div class="formWrapper">
                    <app-loginpage></app-loginpage>
                </div>
            </div>
        </div>
    </div>
</div>