<div class="main-wrapper-login">
    <div class="sub-wrapper">
        <div class="container-reg200">
            <app-logincommonside></app-logincommonside>
            <div class="right">
                <div class="formWrapper">
                    <!-- Login Page User Name -->
                    <div class="wrap-reg">
                        <form [formGroup]="loginForm" class="form-wrapper" (ngSubmit)="next()">
                            <div class="sign-head">
                                <h1 class="signIn">Reset Password</h1>
                            </div>
                            <div class="footer-logo">
                                <span> © {{currentYear}} L&T EduTech. All Rights Reserved</span>
                            </div>
                            <mat-form-field class="mat-form-spacing" appearance="outline">
                                <mat-label class="label-color">Email ID</mat-label>
                                <input matInput id="username" [placeholder]="'Enter the email'" formControlName="email"
                                    maxlength="90" required>
                                <mat-icon matPrefix>
                                    <span class="login-email-icon">
                                        <img src="../../../assets/images/Path 16503.svg" alt="logout-img">
                                    </span>
                                </mat-icon>
                                <mat-error class="error"
                                    *ngIf="!loginForm.get('email').hasError('required') && loginForm.get('email').hasError('maxlength')">
                                    {{'100 Characters only allowed'}}</mat-error>
                                <mat-error class="error" *ngIf="loginForm.get('email').hasError('required')">
                                    {{'Email is required'}}</mat-error>
                                <mat-error class="error" *ngIf="loginForm.get('email').hasError('pattern')">
                                    {{'Please enter a valid email address'}}</mat-error>
                            </mat-form-field>

                            <!-- Password -->
                            <mat-form-field class="mat-form-spacing" appearance="outline">
                                <mat-label class="label-color">{{'Password' }}</mat-label>
                                <input matInput class="mat-input" [placeholder]="'Enter password'"
                                    [type]="toggleVisibility ? 'text' : 'password'" formControlName="password"
                                    [ngClass]="{ 'is-invalid': password.touched && password.errors }" required>

                                <mat-icon matPrefix>
                                    <span class="login-email-icon">
                                        <img src="../../../assets/images/Icon material-lock-outline.svg"
                                            alt="logout-img">
                                    </span>
                                </mat-icon>

                                <div class="login-icon-wrapper" mat-icon-button matSuffix>
                                    <i class="material-icons login-icon-color "
                                        (click)="toggleVisibility = !toggleVisibility">{{toggleVisibility ?
                                        'visibility'
                                        :
                                        'visibility_off'}}</i>
                                </div>
                                <mat-error class="error" *ngIf="password.touched && password.errors?.required">
                                    {{'Password is required' }}
                                </mat-error>
                                <mat-error class="error" *ngIf="password.touched && password.errors?.maxlength">
                                    {{'30 Characters only allowed'
                                    }}</mat-error>
                            </mat-form-field>

                            <!--Confirm Password  -->
                            <mat-form-field class="mat-form-spacing" appearance="outline">
                                <mat-label class="label-color">{{'Confirm Password' }}</mat-label>
                                <input matInput class="mat-input" [placeholder]="'Enter password'"
                                    [type]="toggleVisibility ? 'text' : 'password'" formControlName="password"
                                    [ngClass]="{ 'is-invalid': password.touched && password.errors }" required>

                                <mat-icon matPrefix>
                                    <span class="login-email-icon">
                                        <img src="../../../assets/images/Icon material-lock-outline.svg"
                                            alt="logout-img">
                                    </span>
                                </mat-icon>

                                <div class="login-icon-wrapper" mat-icon-button matSuffix>
                                    <i class="material-icons login-icon-color "
                                        (click)="toggleVisibility = !toggleVisibility">{{toggleVisibility ?
                                        'visibility'
                                        :
                                        'visibility_off'}}</i>
                                </div>
                                <mat-error class="error" *ngIf="password.touched && password.errors?.required">
                                    {{'Confirm Password is required' }}
                                </mat-error>
                                <mat-error class="error" *ngIf="password.touched && password.errors?.maxlength">
                                    {{'30 Characters only allowed'
                                    }}</mat-error>
                            </mat-form-field>
                            <!-- Login-btn -->
                            <div class="center">
                                <button class="btn" [ngStyle]="{'opacity': loginForm.invalid ? '0.5' :'1.0'}" click
                                    id="login" mat-raised-button [disabled]="loginForm.invalid" type="submit">
                                    {{'SUBMIT'}}</button>
                            </div>
                            <div class="back-btn">
                                <a (click)="Goback()">{{'Go Back to Sign In'}}</a>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>