@import "../../../themes/theme.scss";

li {
  background-color: $primary-lite-white;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-width: 0;
  border-left-width: 5px;
  border-style: solid;
  border-color: transparent;
  transition: all 750ms ease-in-out;
  padding: 10px 12px;
  border-image: linear-gradient(to bottom, #41b865, #00bcef) 1 100%;
  position: relative;

  img {
    position: relative;
    left: 2px;
    top: 3px;
  }
}

// new css for side bar
.mat-drawer {
  width: 52px;
  background: $primary-sidenav-bg;
}