<mat-drawer-container class="example-container mat-typography" autosize style="height: 100vh;">
    <mat-drawer #drawer mode="side" disableClose="true" opened="true">
        <mat-nav-list class="mathigh">
            <ng-container>
                <li matTooltip="Jobs List">
                    <span>
                        <em class="icon-JobList"> </em>
                    </span>
                </li>
            </ng-container>
        </mat-nav-list>
    </mat-drawer>
</mat-drawer-container>