@import "../../../themes/theme.scss";

li {
  padding: 20px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-width: 0;
  border-left-width: 5px;
  border-style: solid;
  border-color: transparent;
  transition: all 750ms ease-in-out;
  position: relative;
}
em {
  font-size: 21px;
}
span:first-child {
  padding: 0 0px;
  font-size: 14px;
}
span:nth-of-type(2) {
  padding: 0 0 0 15px;
  font-size: 14px;
}
span:nth-of-type(3) {
  float: right;
  font-size: 15px;
  display: none;
}
li:hover {
  background: #fff;
  color: #000;
  border-image: linear-gradient(to bottom, #41b865, #00bcef) 1 100%;
  transition: all 750ms ease-in-out;
}
.active {
  background-color: #fff;
  color: #000;
  border-image: linear-gradient(to bottom, #41b865, #00bcef) 1 100%;
  transition: all 750ms ease-in-out;
  span:nth-of-type(3) {
    display: block;
  }
}
li.active {
  background-color: #fff;
  color: #000;
  border-left-width: 5px;
  border-right-width: 0;
  border-style: solid;
  border-image: linear-gradient(to bottom, #41b865, #00bcef) 1 100%;
}

mat-sidenav {
  background-color: #f1f2f1;
  width: 52px;
  height: 784px;
}
mat-sidenav-content {
  height: 95vh;
  background-color: #dfe2e3;
}
