<mat-drawer-container class="example-container mat-typography" autosize style="height: 100vh;">
    <mat-drawer #drawer mode="side" disableClose="true" opened="true">
        <mat-nav-list class="mathigh">
            <ng-container>
                <!-- <mat-list-item (click)="validateClick('empdashboard')"
                    [ngClass]="[check === 'empdashboard' ? 'selected' : 'notSelected']">
                    <span matTooltip="Dashboard" routerLinkActive="active">
                        <img src="/assets/images/dashboard-logo.svg" alt="">
                    </span>
                </mat-list-item> -->

                <mat-list-item [ngClass]="[check === 'empprofile' ? 'selected' : 'notSelected']">
                    <span matTooltip="Jobs List" routerLinkActive="active">
                        <img src="/assets/images/Job list.svg" alt="">
                    </span>
                </mat-list-item>

            </ng-container>
        </mat-nav-list>
    </mat-drawer>
</mat-drawer-container>