@import "../../../themes/theme.scss";

// .footer-section {
//   background-color: $right-login-bg;
//   height: 30px;
//   width: auto;
//   .forgot1 {
//     display: flex;
//     justify-content: flex-start;
//     position: relative;
//     top: 6px;
//   }
// }

.footer-section {
  margin-left: 52px;
  width: 1314px;
  position: absolute;
  bottom: 2px;
  left: 0;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  background: red;
  height: 30px;
  align-items: center;
  padding: 0 2em;
  .footer20 {
    margin-top: 5px;
  }
  .forgot1 {
    font-weight: 500;
    font-size: 14px;
    color: $left-head !important;
  }
}
